.mainControls {
    display: flex;
    flex-direction: column;
    gap: 28px;
    grid-area: mainControls;
    margin-top: 4px;
}

.personalDataHeadline {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Personal Details Section Start */
.personalDetailsForm {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-bg-color);
    padding: 22px 18px;
    border-radius: 12px;
    
    label {
        font-weight: 600;
        margin-bottom: 7px;
    }

    .recommendedText {
        color: rgb(156, 163, 175);
        font-size: 10.5px;
        margin-left: 6px;
    }

    input,
    textarea {
        font-size: 13.3px;
        background-color: var(--main-bg-color);
        border: 2px solid transparent;
        border-radius: 12px;
        padding: 10px;
        margin-bottom: 12px;
        transition: border .25s, box-shadow .25s;
    }  

    input:focus,
    input:focus-visible {
        border-color: #3b83f6;
        box-shadow: 0 3px 15px rgba(59, 131, 246, .2);
        outline: none;
    }
}
/* Personal Details Section End */

/* Education Section Start */
.educationContainer,
.experienceContainer {
    display: flex;
    flex-direction: column;
}

.educationHeadline,
.experienceHeadline {
    font-size: 20px;
    font-weight: bold;
}

.btnContainer {
    display: flex;    
    flex-direction: column;
    gap: 6px;
    animation: slideDown .25s forwards;
}

.btnContainer.closing {
    animation: slideUp .25s forwards;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 14px 12px 24px;
    border-radius: 0px;
}

.btnText {
    font-size: 17px;
    font-weight: 600;
}

span.btnIcon {
    font-size: 28px;
    font-variation-settings:
    'FILL' 1;
}

.toggleBtn {
    display: flex;
    gap: 11px;
    align-items: center;
    padding: 24px;
    margin-bottom: 6px;
    border-radius: 12px;
}

.toggleBtn.active {
    border-radius: 12px 12px 0 0;
}

/* Selects arrow up on the right side of the "Education" button toggler */
.arrowDown {
    margin-left: auto;
    transition: transform .3s;
}

.arrowDown.active {
    transform: rotate(180deg);
}

@keyframes slideDown {
    0% { transform: translateY(-25px); opacity: 0; max-height: 0;}
    100% { transform: translateY(0); opacity: 1; max-height: 1000px}
}

@keyframes slideUp {
    0% { transform: translateY(0); opacity: 1; max-height: 1000px}
    100% { transform: translateY(-25px); opacity: 0; max-height: 0;}
}

.showTextBtnContainer {
    padding: 10px;
}

/* Icons under Education & Experience responsible for deleting and hiding the text on CV */
span.showTextBtnIcon {
    font-size: 20px;
    margin-left: 15px;
}

.addBtnContainer {
    background-color: var(--secondary-bg-color);
    border-radius: 0 0 12px 12px;

}

.addBtn {
    font-size: 13.3px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 18px;
    margin: 15px auto;
    border: 4px solid #eef0f4;
    border-radius: 100px;
}

span.addBtnIcon {
    font-size: 20px;
    margin-right: 7px;
}
/* Education Section End */
