.mainControls {
    order: 2;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 4px;
}

@media only screen and (min-width: 1330px) {
    .mainControls {
        grid-area: mainControls;
    }
}
