.mainControls {
    display: flex;
    flex-direction: column;
    grid-area: mainControls;
}

.personalDetailsForm {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-bg-color);
    padding: 22px 18px;
    border-radius: 12px;
    
    label {
        font-weight: 600;
        margin-bottom: 7px;
    }

    input,
    textarea {
        font-size: 13.3px;
        background-color: var(--main-bg-color);
        border: 2px solid transparent;
        border-radius: 12px;
        padding: 10px;
        margin-bottom: 12px;
        transition: border .25s, box-shadow .25s;
    }  

    input:focus,
    input:focus-visible {
        border-color: #3b83f6;
        box-shadow: 0 3px 15px rgba(59, 131, 246, .2);
        outline: none;
    }
}

.headline {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}