/* ============================================
   ORDER CONTAINER
   ============================================ */
.orderContainer {
    border-radius: 12px;
    border: 1px solid #e5e7eb;
    background-color: var(--secondary-bg-color);
}

.orderHeaderContainer {
    padding: 24px 24px 23px 24px;
}

.orderHeadline {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.orderText {
    color: #666;
    font-size: 14px;
}

.orderCardsContainer {

}

/* ============================================
   ORDER ITEM CONTAINER
   ============================================ */
.orderCardContainer {
    display: flex;
    justify-content: space-between;
    padding: 23px;
    border-top: 1px solid #e5e7eb;
}

.orderCardHeaderContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.orderCardHeadline {
    font-size: 17.5px;
    font-weight: 600;
}

.orderCardIcon {
    font-variation-settings: 'FILL' 1;
}

.orderCardBtnContainer {
    display: flex;
    gap: 5px;
}

.orderCardBtn {
    color: #0f0f0f;
    height: 29px; /* 31px*/
    width: 29px;  /* 33px*/
    padding: 0;
    border: 1px solid #e5e7eb;
    border-radius: 7px;
}

.orderCardBtn:disabled {
    color: #b7b7b7;
    cursor: not-allowed;
}

span.orderCardBtnIcon {
    display: block;
    font-weight: 300;
}