.editControls {
    display: grid;
    grid-template-columns: minmax(0, 504px);
    gap: 24px;
    margin-bottom: 28px;
}

@media only screen and (min-width: 1330px) {
    .editControls {
        display: grid;
        grid-template-rows: 54px 1fr;
        grid-template-columns: 105px minmax(0, 504px);
        grid-template-areas: 
        "sideControls topControls"
        "sideControls mainControls";
        gap: 24px;
        width: initial;
    }
}
