.editControls {
    /* display: grid;
    grid-template-rows: 54px 1fr;
    grid-template-columns: 105px 504px;
    grid-template-areas: 
    "sideControls topControls"
    "sideControls mainControls";
    gap: 24px;
    flex: 1;
    max-width: 750px; */
    flex-basis: 52%;
}