.editControls {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-width: 570px;
    margin-bottom: 28px;
}

@media only screen and (min-width: 1020px) {
    .editControls {
        width: 40%;
        max-width: 750px;
    }
}

@media only screen and (min-width: 1300px) {
    .editControls {
        display: grid;
        grid-template-rows: 54px 1fr;
        grid-template-columns: 105px 504px;
        grid-template-areas: 
        "sideControls topControls"
        "sideControls mainControls";
        gap: 24px;
        width: initial;
    }
}