.skillsToolsInterestsList {
    margin-left: 13px;
}

.skillsToolsInterestsList > li {
    position: relative;
    list-style: none;
    padding: 0 5px;
}

.circle::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Ccircle cx='5' cy='5' r='4' fill='%23000'/%3E%3C/svg%3E");
    position: absolute;
    top: -1px;
    left: -13px;
    width: 8px;
    height: 8px;
}

.square::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Crect x='1' y='1' width='8' height='8' fill='%23000'/%3E%3C/svg%3E");
    position: absolute;
    top: -1px;
    left: -13px;
    width: 8px;
    height: 8px;
}

.triangle::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpolygon points='5,1 9,9 1,9' fill='%23000'/%3E%3C/svg%3E");
    position: absolute;
    top: -1px;
    left: -13px;
    width: 10px;
    height: 10px;
}

.diamond::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpolygon points='5,1 9,5 5,9 1,5' fill='%23000'/%3E%3C/svg%3E");
    position: absolute;
    top: -1px;
    left: -13px;
    width: 10px;
    height: 10px;
}