.flexContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.educationContainer {
    display: flex;
    flex-direction: column;
    gap: 18px;
}


.schoolName {
    font-size: 18px;
}

.graduationDate {
    font-size: 18px;
}

.qualification {
    font-size: 18px;
}

.schoolLocation {
    font-size: 18px;
}