:root {
    --main-bg-color: #fafafa;
    --secondary-bg-color: #ffffff;
    --label-color: #374151;
    --input-color: #2f3338;
    --input-bg-color: rgba(14, 55, 78, .07);
    --input-border: 1px solid #e5e7eb;
    --icon-color: rgb(46, 46, 46);
}

i {
    font-style: italic;
}

b {
    font-weight: bold;
}

ul {
    list-style: square;
}

li {
    font-size: 18px;
    line-height: 1.22;
}

li::marker {
    font-size: 19px;
}

button {
    background-color: var(--secondary-bg-color);
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.headline {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 3px;
    margin-bottom: 6px;
    border-bottom: 2px solid black;
}

.sectionBottomMargin {
    margin-bottom: 20px;
}