:root {
    --main-bg-color: #fafafa;
    /* old --main-bg-color: #f3f4f6; */
    --secondary-bg-color: #ffffff;
    --input-bg-color: rgba(14, 55, 78, .07);
    --input-border: 1px solid #e5e7eb;
    /* --cv-container-box-shadow: ; */
}

i {
    font-style: italic;
}

b {
    font-weight: bold;
}

ul {
    list-style: square;
}

li {
    font-size: 18px;
    line-height: 1.22;
}

li::marker {
    font-size: 19px;
}

.headline {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 3px;
    margin-bottom: 6px;
    border-bottom: 2px solid black;
}

.sectionBottomMargin {
    margin-bottom: 20px;
}