:root {
    --main-bg-color: #f3f4f6;
    --secondary-bg-color: #ffffff;
    --input-bg-color: rgba(14, 55, 78, .07);
    --cv-container-box-shadow: 
}

i {
    font-style: italic;
}

b {
    font-weight: bold;
}

ul {
    list-style: square;
}

li {
    font-size: 18px;
    line-height: 1.22;
}

li::marker {
    font-size: 19px;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.headline {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 3px;
    margin-bottom: 6px;
    border-bottom: 2px solid black;
}

.recommended-text {
    color: rgb(156, 163, 175);
    font-size: 10.5px;
    margin-left: 6px;
}

.sectionBottomMargin {
    margin-bottom: 20px;
}
