/* Material Symbols (newer version of Material Icons font) */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

/* Material Icons (older font) */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Noto Sans Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Noto Sans", sans-serif;
}