/* ============================================
   SECTIONS ORDER CONTAINER
   ============================================ */
.sectionsOrderContainer {
    border-radius: 12px;
    border: 1px solid #e5e7eb;
    background-color: var(--secondary-bg-color);
}

.sectionsOrderHeaderContainer {
    padding: 24px 24px 23px 24px;
}

.sectionsOrderHeadline {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.sectionsOrderText {
    color: #666;
    font-size: 14px;
    line-height: normal;
}

/* ============================================
   SECTIONS ORDER ITEM CONTAINER
   ============================================ */
.sectionsOrderCardContainer {
    display: flex;
    justify-content: space-between;
    padding: 23px;
    border-top: 1px solid #e5e7eb;
}

.sectionsOrderCardHeaderContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sectionsOrderCardHeadline {
    font-size: 17.5px;
    font-weight: 600;
}

.sectionsOrderCardIcon {
    font-variation-settings: 'FILL' 1;
}

.sectionsOrderCardBtnContainer {
    display: flex;
    gap: 5px;
}

.sectionsOrderCardBtn {
    color: #0f0f0f;
    height: 29px; /* 31px*/
    width: 29px;  /* 33px*/
    padding: 0;
    border: 1px solid #e5e7eb;
    border-radius: 7px;
}

.sectionsOrderCardBtn:disabled {
    color: #b7b7b7;
    cursor: not-allowed;
}

span.sectionsOrderCardBtnIcon {
    display: block;
    font-weight: 250;
}