body {
    padding: 40px;
}

.cvContainer {
    font-family: 'Times New Roman', Times, serif;
    width: 21cm;
    min-height: 29.7cm;
    padding: 40px;
    margin: 0 auto;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .1), 0 8px 16px -8px rgba(0, 0, 0, .25);
    background-color: var(--secondary-bg-color);
}
