.flexContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.experienceContainer {
    margin-bottom: 20px;
}

.experienceContainer.hidden {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.companyName {
    font-size: 18px;
    font-weight: bold;
}

.startEndDate {
    font-size: 18px;
    font-weight: bold;
}

.jobTitle {
    font-size: 18px;
    font-style: italic;
}

.workLocation {
    font-size: 18px;
    font-style: italic;
}

.subPoints {
    list-style: circle;
    margin-left: 50px;
}

.subPoints > li::marker {
    font-size: 22px;
}