.flexContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.positionContainer {
    margin-bottom: 20px;
}

.companyName {
    font-size: 19px;
    font-weight: bold;
}

.startEndDate {
    font-size: 19px;
    font-weight: bold;
}

.jobTitle {
    font-size: 19px;
    font-style: italic;
}

.workLocation {
    font-size: 19px;
    font-style: italic;
}

.responsibilities {
    margin-left: 19px;
}

.subPoints {
    list-style: circle;
    margin-left: 50px;
    margin-bottom: 5px;
}

.subPoints > li::marker {
    font-size: 22px;
}