body {
    padding: 40px;
}

.cvContainer {
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    width: 21cm;
    min-height: 29.7cm;
    padding: 40px;
    margin: 0 auto;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .1), 0 8px 16px -8px rgba(0, 0, 0, .25);
    background-color: var(--secondary-bg-color);
}

/* Download CV .btn style */
.pdfDownloadBtn {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 13.5px;
    text-align: center;
    position: absolute;
    top: 24px;
    right: 42px;
    padding: 10.5px;
    border-radius: 7px;
    width: 130px;
    background-color: #1875FF;
    border: 1px solid blue;
    z-index: 999;
}