body {
    padding: 40px;
}

.cvContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

.cvContentContainer {
    font-family: 'Times New Roman', Times, serif;
    width: 21cm;
    min-height: 29.7cm;
    padding: 40px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .1), 0 8px 16px -8px rgba(0, 0, 0, .25);
    background-color: var(--secondary-bg-color);
    transform: scale(.4) translateY(-1017px);
    /* Removing extra white space caused by scale property */
    margin-bottom: -101%;
}

@media only screen and (min-width: 438px) {
    .cvContentContainer {
        transform: scale(.5) translateY(-683px);
        /* Removing extra white space caused by scale property */
        margin-bottom: -84%;
    }
}

@media only screen and (min-width: 683px) {
    .cvContentContainer {
        width: 100%;
        max-width: 21cm;
        transform: scale(1) translate(0px, 0px);
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 1300px) {
    .cvContentContainer {
        min-width: 730px;
    }
}

/* Download CV .btn style */
.pdfDownloadBtn {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 13.5px;
    text-align: center;
    padding: 10.5px;
    border-radius: 7px;
    width: 130px;
    background-color: #1875FF;
    border: 1px solid blue;
}

@media only screen and (min-width: 1020px) {
    .pdfDownloadBtn {
        position: absolute;
        top: 24px;
        right: 42px;
        z-index: 999;
    }
}