body {
    padding: 40px;
}

.cvContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

.cvContentContainer {
    font-family: 'Times New Roman', Times, serif;
    width: 21cm;
    min-height: 29.7cm;
    padding: 40px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .1), 0 8px 16px -8px rgba(0, 0, 0, .25);
    background-color: var(--secondary-bg-color);
    zoom: .4;
}

@media only screen and (min-width: 438px) {
    .cvContentContainer {
        zoom: .5;
    }
}

@media only screen and (min-width: 683px) {
    .cvContentContainer {
        width: 100%;
        max-width: 21cm;
        zoom: 1;
    }
}

@media only screen and (min-width: 1330px) {
    .cvContentContainer {
        min-width: 730px;
    }
}

/* Download CV .btn style */
.pdfDownloadBtn {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 13.5px;
    text-align: center;
    padding: 10.5px;
    border-radius: 7px;
    width: 130px;
    background-color: #1875FF;
    border: 1px solid blue;
}

@media only screen and (min-width: 1200px) {
    .pdfDownloadBtn {
        position: absolute;
        top: 24px;
        right: 42px;
        z-index: 999;
    }
}