.flexContainer {
    display: flex;
    flex-direction: column;
}

.personalDetailsContainer {
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    box-shadow: 0 7px 29px 0 hsla(240, 5%, 80%, .2);
}

span.arrowUp {
    font-size: 26px;
    margin-left: auto;
    transition: transform .3s;
}

.arrowUp.active {
    transform: rotate(180deg);
}

.personalDetailsHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 23px;
    border-radius: 12px;
}

.toggleBtn.active {
    border-radius: 12px 12px 0 0;
}

.personalDetailsHeadline {
    font-size: 24px;
    font-weight: bold;
    padding-left: 2px;
}

.personalDetailsForm {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-bg-color);
    padding: 22px 18px;
    border-radius: 12px;
    animation: slideDown .25s forwards;
    
    label {
        font-weight: 600;
        margin-bottom: 7px;
    }

    .recommendedText {
        color: rgb(156, 163, 175);
        font-size: 10.5px;
        margin-left: 6px;
    }

    input,
    textarea {
        font-size: 13.3px;
        background-color: var(--main-bg-color);
        border: var(--input-border);
        border-radius: 7px;
        padding: 10px;
        margin-bottom: 12px;
        transition: border .25s, box-shadow .25s;
    }  

    input:focus,
    input:focus-visible {
        border-color: #3b83f6;
        box-shadow: 0 3px 15px rgba(59, 131, 246, .2);
        outline: none;
    }
}

.personalDetailsForm.closing {
    animation: slideUp .25s forwards;
}

/* ============================================
   ANIMATIONS
   ============================================ */
@keyframes slideDown {
    0% { transform: translateY(-25px); opacity: 0; max-height: 0;}
    100% { transform: translateY(0); opacity: 1; max-height: 1000px}
}

@keyframes slideUp {
    0% { transform: translateY(0); opacity: 1; max-height: 1000px}
    100% { transform: translateY(-25px); opacity: 0; max-height: 0;}
}