body {
    background-color: var(--main-bg-color);
}

.app {
    flex-direction: column;
    display: flex;
    margin: auto;
    max-width: 1500px;
    padding: 32px 24px;
    width: 100%;
}

@media only screen and (min-width: 1020px) {
    .app {
        flex-direction: row; 
    }
}