body {
    background-color: var(--main-bg-color);
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 1500px;
    padding: 32px 24px;
    width: 100%;
}

@media only screen and (min-width: 1200px) {
    .app {
        flex-direction: row; 
        align-items: flex-start;
        gap: 24px;
    }
}