button {
    background-color: var(--secondary-bg-color);
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.active {
    background-color: var(--main-bg-color);
    font-variation-settings: 'FILL' 1;
}

.sideControls {
    display: flex;
    flex-direction: column;
    grid-area: sideControls;
    border: none;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 14px 8px;
    background-color: var(--secondary-bg-color);
    border-radius: 12px;
    gap: 3px;
}

.sidebar > button {
    font-weight: 600;
    transform: scale(0.9);
    transition: background-color .15s ease-in-out;
}

/* Selecting the icons inside of <button> elements */
.sidebar > button > span:first-child {
    font-size: 21px;
}

.customizeBtn {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px 4px;
}

.contentBtn {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px 4px;
}