.btn {
    background-color: var(--secondary-bg-color);
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.active {
    background-color: var(--main-bg-color);
    font-variation-settings: 'FILL' 1;
}

.sideControls {
    display: flex;
    flex-direction: column;
    grid-area: sideControls;
    border: none;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 14px 8px;
    background-color: var(--secondary-bg-color);
    gap: 3px;
    border-radius: 12px;
    border: 1px solid #e5e7eb;
    box-shadow: 0 7px 29px 0 hsla(240, 5%, 80%, .2);
}

.sidebar > .btn {
    font-weight: 600;
    transition: background-color .15s ease-in-out, transform .15s;
}

.sidebar > .btn:active {
    transform: scale(0.9);
}

/* Selecting the icons inside of <button> elements */
.sidebar > .btn > span:first-child {
    font-size: 21px;
}

.customizeBtn {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px 4px;
}

.contentBtn {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px 4px;
}