.flexContainer {
    display: flex;
    flex-direction: column;
}

.skillsToolsInterestsContainer {
    border: 1px solid #e5e7eb;
    border-radius: 12px;
}

.educationContainer {
    position: relative;
    display: flex;
    flex-direction: column;
}

.educationHeadline {
    font-size: 20px;
    font-weight: bold;
}

/* Selects arrow up on the right side of the "Education" button toggler */
.arrowDown {
    margin-left: auto;
    transition: transform .3s;
    margin-bottom: -4px;
}

.arrowDown.active {
    transform: rotate(180deg);
}

.educationItem {
    background-color: var(--secondary-bg-color);
    cursor: pointer;
}

.educationBtnContainer {
    display: flex;
    align-items: center;
    padding: 10px;
}

.btnContainer {
    display: flex;    
    flex-direction: column;
    gap: 6px;
    animation: slideDown .25s forwards;
}

.btnContainer.hidden {
    visibility: hidden;
    position: absolute;
}

.btnContainer.closing {
    animation: slideUp .25s forwards;
}

@keyframes slideDown {
    0% { transform: translateY(-25px); opacity: 0; max-height: 0;}
    100% { transform: translateY(0); opacity: 1; max-height: 1000px}
}

@keyframes slideUp {
    0% { transform: translateY(0); opacity: 1; max-height: 1000px}
    100% { transform: translateY(-25px); opacity: 0; max-height: 0;}
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 14px 12px 24px;
    border-radius: 0px;
}

.btnText {
    font-size: 17px;
    font-weight: 600;
}

.addBtnContainer {
    background-color: var(--secondary-bg-color);
    border-radius: 0 0 12px 12px;
}

.addBtn {
    font-size: 13.3px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 18px;
    margin: 15px auto;
    border: 4px solid #eef0f4;
    border-radius: 100px;
}

span.addBtnIcon {
    font-size: 20px;
    margin-right: 7px;
}

.skillsToolsInterestsHeader {
    display: flex;
    gap: 11px;
    align-items: center;
    padding: 26px 24px;
    border-radius: 12px;
    width: 100%;
}

.skillsToolsInterestsHeader.active {
    border-radius: 12px 12px 0 0;
}

.skillsToolsInterestsHeader.formOpened {
    margin-bottom: -5px;
}

span.btnIcon {
    font-size: 28px;
    font-variation-settings:
    'FILL' 1;
}

/* Icon under Education responsible for deleting and hiding the text on CV */
span.deleteBtnIcon {
    color: rgb(46, 46, 46);
    font-size: 21px;
}

span.visibilityBtnIcon {
    color: rgb(46, 46, 46);
    font-size: 23px;
    margin-left: 5px;
}

span.addBtnIcon {
    font-size: 20px;
    margin-right: 7px;
}

/* Form for adding Education Start */
.formContainer {
    padding: 22px 18px;
    border-radius: 0 0 12px 12px;
    background-color: var(--secondary-bg-color);
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 13px;
    
    label {
        font-weight: 600;
        margin-bottom: 7px;
    }

    input,
    textarea {
        font-size: 13.3px;
        background-color: var(--main-bg-color);
        border: 2px solid transparent;
        border-radius: 12px;
        padding: 10px;
        margin-bottom: 12px;
        transition: border .25s, box-shadow .25s;
    }  

    textarea {
        height: 90px;
    }

    textarea:focus,
    textarea:focus-visible,
    input:focus,
    input:focus-visible {
        border-color: #3b83f6;
        box-shadow: 0 3px 15px rgba(59, 131, 246, .2);
        outline: none;
    }
}

.formGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formGroupDate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.formGroupCompany {
    display: flex;
    gap: 20px;
}

.formBtnDelete {
    font-size: 13.3px;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid grey;
}

.formBtnContainer {
    display: flex;
    gap: 17px;
    margin-top: 13px;
}

.formBtnContainer > button {
    max-width: 92px;
}

span.formBtnDeleteIcon {
    font-size: 20px;
}

.formBtnCancel {
    font-size: 13.3px;
    color: grey;
    outline: 1px solid grey;
    padding: 8px 16px;
    margin-left: auto;
}

.formBtnSave {
    font-size: 13.3px;
    background-color: #187ff5;
    color: #fff;
    font-weight: bold;
    padding: 8px 16px;
}
/* Form for adding Education End */